body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-indent: 2em;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

strong {
  font-size: 16.5px;
  color: red;
}

h1 strong {
  font-size: 33px;
}

h2 strong {
  font-size: 27px;
}

h3 strong {
  font-size: 23px;
}

h4 strong {
  font-size: 19px;
}

b {
  font-size: 16.5px;
}

img {
  max-width: 50%;
}